@media screen and (max-width:600px){
    .experience_container{
        gap: 2rem;
    }

    .experience_container > div {
        /* width: var(--container-width-md); */
        padding: 2rem 2rem;
        /* text-align: center; */
    }

}
@media screen and (max-width:1024px){
    .experience_container{
        gap: 2rem;
    }

    .experience_container > div {
        /* width: var(--container-width-md); */
        padding: 3rem 3rem;
        /* text-align: center; */

    }

}


.experience_container{
    display: grid;
}
.experience_container > div {
    background: linear-gradient(var(--color-button), transparent);
    padding:2.4rem 5rem;
    border-radius:2rem;
    /* border: 1px solid transparent; */
    transition: var(--transition);
    color: white;
}

.experience_container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience_container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.experience_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    justify-items: center;

}

.experience_details{
    display: flex;
    gap:1rem;
}

.experience_details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

